<div ng-controller="splitController">


<div class="container">
	<div class="row">
		<div class="col-md-6 channel">
			<iframe ng-src="{{splitOneVid}}" frameborder="0" scrolling="no" height="80%;" width="100%"></iframe>
			<div class="form">
				<form ng-submit="submitOne(one)">
					<input type="text" ng-model="one" placeholder="channel 1">
					<input type="submit">
				</form>
			</div>
		</div>
		<div class="col-md-6 channel">
			<iframe ng-src="{{splitTwoVid}}" frameborder="0" scrolling="no" height="80%;" width="100%"></iframe>
			<div class="form">
				<form ng-submit="submitTwo(two)">
					<input type="text" ng-model="two" placeholder="channel 2">
					<input type="submit">
				</form>
			</div>
		</div>




	</div>
</div>










</div>
